<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<main role="main" class="container mt-4">
    <h2>Countries</h2>
    <a href="/countries/new" class="btn btn-primary mb-3">Add new Country</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Annual Number of Vehicles Ordered</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% countries.forEach(function(country) { %>
                <tr>
                    <td><%= country.name %></td>
                    <td><%= country.vehicleTypesOrdered %></td>
                    <td><%= country.totalPrice %></td>
                    <td>
                        <a href="/countries/<%= country._id %>" class="btn btn-primary">Edit</a>
                        <button class="btn btn-danger delete-btn" data-id="<%= country._id %>" data-entity="countries">Delete</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</main>
<script src="/js/main.js"></script>
<%- include('partials/_footer.ejs') %>
</body>
</html>