<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
  <%- include('partials/_header.ejs') %>
  <main role="main" class="container mt-4">
      <h2>Warehouses</h2>
      <a href="/warehouses/new" class="btn btn-primary mb-3">Add new Warehouse</a>
      <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Assigned Dealer</th>
                <th>Average Waiting Time</th>
                <th>Maximum Vehicle Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% warehouses.forEach(function(warehouse) { %>
                <tr>
                    <td><%= warehouse.name %></td>
                    <td><%= warehouse.assignedDealer.name %></td>
                    <td><%= warehouse.averageWaitingTimeDays %></td>
                    <td><%= warehouse.maximumVehicleCapacity %></td>
                      <td>
                          <a href="/warehouses/<%= warehouse._id %>" class="btn btn-primary">Edit</a>
                          <button class="btn btn-danger delete-btn" data-id="<%= warehouse._id %>" data-entity="warehouses">Delete</button>
                      </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
  </main>
  <%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</body>
</html>